# Ignore Terraform files
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/

# Ignore .terraform.lock.hcl if present
.terraform.lock.hcl

# Ignore override files as they are usually used to override resources locally and should not be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc